<div class="comment" data-id="{{_id}}">
  <h4 style="text-align: center">
    <a class="article-link text-light" style="font-size: large" target="_blank" href="{{link}}">{{title}}</a>
    <img src="{{imgLink}}">
  </h4>

  <div class="card-body">
    {{summary}}
  </div>
  <hr>
</div>